/*table th span {
    padding: 0px 0px 0px 2px;
}
.table-color-row {
	width: 5%;
}
.table-id-row {
	width:3%;
}*/

table {
    font-family: arial, sans-serif;
    font-color: white;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: white !important;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

body {
  background-color: gray;
  font-family: 'Open Sans', sans-serif;

}

.unit-tests-row {
	padding-bottom: 10%;
}



.about-team-member {
	width: 25%;
	height: 100%;
	display: inline-block;
  float: none;

}

.img-circle {
	width: 90%;
}

.row.match-my-cols {
    overflow: hidden;
}



.panel-instance {
	width:50%;
	margin: 0 auto;
	margin-bottom:2%;
}

.instance-text {
	text-align:center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}



/* Section Dividers Backgrounds */

.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;


    background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment: relative;

    text-align: center;
}

.textdivider h1 {
  padding-top: 70px;
  color: white;
  font-size: 70px;
  text-shadow:1px 1px 0 #fff,
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  0px 1px 0 #fff,
  1px 0px 0 #fff,
  0px -1px 0 #fff,
  -1px 0px 0 #fff,
  4px 4px 3px #000;
}

.textdivider p {
  color: white;
  font-size: 50px;
  text-shadow:1px 1px 0 #fff,
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  0px 1px 0 #fff,
  1px 0px 0 #fff,
  0px -1px 0 #fff,
  -1px 0px 0 #fff,
  4px 4px 3px #000;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.become {
  background: url(../static/img/mid-banner1.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 349px;
  text-align: center;
  padding: 3em 0;
  border-top: 2px solid #e6dec1;
  border-bottom: 2px solid #e6dec1;
}
.become h4 {
  color: #584915;
  font-size: 2em;
  padding: 0.5em;
  margin: 0 auto;
  font-weight: 600;
  border-bottom: 2px dashed #584915;
  width: 72%;
}
.become p {
  color: #736841;
  font-size: 1.2em;
  margin: 1em auto;
  line-height: 1.8em;
  width: 69%;
}

.footer {
  background: url(../static/img/foo.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 188px;
  text-align: center;
  padding: 3em 0;
}
.footer li a span {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(../static/img/arrow.png) no-repeat 0px 0px;
  margin-right: 0.4em;
}
.footer li a {
  color: #fff;
  padding: 0.5em 0;
  text-decoration: none;
  font-size: 1em;
  line-height: 2em;
}
.footer li a:hover{
	color:#89daf2;
}
.footer li{
text-align:left;
display:block;
}
.footer ul{
padding:0;
}
.footer h1 {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1em;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
    color: white;
}

.footer h4 {
  color: lightblue;
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1em;
}
.footer p {
  color: white;
}

.footer-bottom p {
  color: #6A7076;
  font-size: 1em;
  margin: 0.4em 0;
  line-height: 1.8em;
  float: left;
  font-weight: 400;
}
.footer-bottom a{
 color: #6A7076;
 text-decoration:none;
}
.footer-bottom a:hover{
	 color: #89daf2;
}
.footer-bottom {
  background: #1f2123;
  padding: 1em 0;
  border-top: 2px solid #000;
}



.portfolio-item {
    margin-bottom: 30px;
}


/* Section Dividers Backgrounds */

.divider1 {
  background-image: url('')
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Search Bar */

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
