/*table th span {
    padding: 0px 0px 0px 2px;
}
.table-color-row {
	width: 5%;
}
.table-id-row {
	width:3%;
}*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.about-team-member {
	width: 25%;
	height: 100%;
	display: inline-block;
    float: none;
}

.img-circle {
	width: 90%;
}

.row.match-my-cols {
    overflow: hidden; 
}



.panel-instance {
	width:50%;
	margin: 0 auto;
	margin-bottom:2%;
}

.instance-text {
	text-align:center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}





