<!doctype html>
<html lang="en">
	  <head>
	    <!-- Declare charset and meta ASAP -->
	    <meta charset="utf-8">
	    <meta name="description" content="A  News Website">
	    <title>About</title>


	    <link href="../static/style.css" rel="stylesheet">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link href="sticky-footer.css" rel="stylesheet">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	  </head>

  	<body background="../static/img/oldpaper.jpg">
	 	<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">

		      <a class="navbar-brand" href="/">Newsr</a>

		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/organizations/"> News Organizations</a></li>
		      <li><a href="/articles/"> Articles</a></li>
		      <li><a href="/countries/"> Countries</a></li>
		      <li class="active"><a href="/about/"> About</a></li>
		    </ul>
		  </div>
		</nav>
	 	<!--Container -->
	 	<div class = "container">
	 		<h1 align = "center"> About Newsr</h1>

	 		<hr>
	 		<!--Team-->
	 		<div class="row team-bio match-my-cols">
	 			<!--Member # 1-->
	 			<div class= "col-sm-6 about-team-member">
	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/paola.jpg">
	 					<div class="caption">
		 					<h3>Name: Paola Jara </h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
			                <p class="header-centered">My name is Paola, I am a senior in computer sciene graduaing in May. I enjoy going to the gym, dancing and hanging out with friends.</p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">Front End of the project</p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: </b></p>
			                <p class="header-centered"><b># of issues: </b></p>
			                <p class="header-centered"><b># of unit tests: </b></p>


	 					</div>
	 				</div>
	 			</div>
	 			<!--Member # 2-->
	 			<div class= "col-sm-6 about-team-member">
	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/Nikita.jpg">
	 					<div class="caption">
		 					<h3>Name: Nikita Zamwar</h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
		 					<p class="header-centered">My name is Nikita Zamwar and I am currently a senior in ECE and CS. I like to spend my time drawing/painting, listening to music and hanging out with friends.</p>
			                <p class="header-centered"></p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">I am working on the frontend for this project.</p>
			                <p class="header-centered"></p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: </b></p>
			                <p class="header-centered"><b># of issues: </b></p>
			                <p class="header-centered"><b># of unit tests: </b></p>


	 					</div>
	 				</div>
	 			</div>

	 			<!--Member # 3-->
	 			<div class= "col-sm-6 about-team-member">
	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/jaime.jpg">
	 					<div class="caption">
		 					<h3>Name: Jaime Munoz</h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
			                <p class="header-centered">My name is Jaime and I am currently a junior in CS. I enjoy playing the guitar, learning French, and swimming.</p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">I worked on setting up the backend, retrieving the data, and aws.</p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: </b></p>
			                <p class="header-centered"><b># of issues: </b></p>
			                <p class="header-centered"><b># of unit tests: </b></p>


	 					</div>
	 				</div>
	 			</div>

	 			<!--Member # 4-->
	 			<div class= "col-sm-6 about-team-member">
	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/weston.jpg">
	 					<div class="caption">
		 					<h3>Name: Weston Selleck</h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
			                <p class="header-centered">I'm a senior CS major graduating at the end of this semester. I like following sports, tech news, playing Overwatch, and going for walks with my dog, Winnie.</p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">Database models and unit tests, Flask server</p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: </b></p>
			                <p class="header-centered"><b># of issues: </b></p>
			                <p class="header-centered"><b># of unit tests: </b></p>


	 					</div>
	 				</div>
	 			</div>

	 			<!--Member # 5-->
	 			<div class= "col-sm-6 about-team-member">
	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/brian.jpg">
	 					<div class="caption">

		 					<h3>Name: Brian Pham</h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
			                <p class="header-centered">My name is Brian and I am a junior CS and Mathematics major. My hobbies include playing ultimate frisbee, playing video games, and searching for the tasiest bowl of pho.  </p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">Pulling and storing data through APIs, Flask server, </p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: </b></p>
			                <p class="header-centered"><b># of issues: </b></p>
			                <p class="header-centered"><b># of unit tests: </b></p>


	 					</div>
	 				</div>
	 			</div>

	 		</div>
	 		<!--Team End -->

	 		<div class="tools col-md-3">
          	<h1 class="header-centered">Tools</h1>
  			  <div class="row">

              <h4 class="header-centered">Flask</h4>
              <h4 class="header-centered">Bootstrap</h4>
        	  <h4 class="header-centered">Github</h4>
        	  <h4 class="header-centered">AngularJS</h4>
          	  </div>
        	</div>



        	<!-- Stats START -->
        	<div class="stats col-md-3">
             <h1 class="header-centered">Team Stats</h1>
          		<div class="row">
	            <h4 class="header-centered">Aggregate Commits:</h4>
	            <h4 class="header-centered">Aggregate Issues:</h4>
	            <h4 class="header-centered">Aggregate Unit Tests:</h4>
        		</div>
        	</div>

        	<!-- Links Start-->
        	<div class="tools col-md-3">
          	<h1 class="header-centered">Links</h1>
  			  <div class="row">
  			  	<h4 class="header-centered"><a href="http://docs.newsr1.apiary.io/#">Apiary API</a></h4>
              	<h4 class="header-centered"><a href="https://github.com/brianqvpham/cs373-idb">GitHub Repo</a></h4>
            	<h4 class="header-centered"><a href="https://github.com/brianqvpham/cs373-idb/wiki" >GitHub Wiki</a></h4>
            	<h4 class="header-centered"><a href = "https://github.com/brianqvpham/cs373-idb/issues">GitHib Issue Tracker</a></h4>
          	  </div>
        	</div>

        	<!--Data Start-->
        	<div class="data col-md-3">
        	<h1 class="header-centered">Data</h1>
        		<div class ="row">
        		<h4 class="header-centered"><a href=https://restcountries.eu/#api-endpoints-all> REST Countries API</a></h4>
        		<h4 class="header-centered"><a href=https://newsapi.org> News API</a></h4>
        		
        		<p class="header-centered">Data for the first phase of the project was scraped by the REST API and inserting data through our Newsr API.</p>

        		
        		</div>
        	</div>	





	 	</div>



	</body>


	<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Newsr 2017</p>
                </div>
            </div>
        </div>
    </footer>
 </html>
