<!doctype html>
<html lang="en">
	  <head>
	    <!-- Declare charset and meta ASAP -->
	    <meta charset="utf-8">
			<meta name"viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="A  News Website">
	    <title>About</title>


			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<link href="../static/style.css" rel="stylesheet">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">




	  </head>

  	<body background="../static/img/bootstrap-background.jpg">
		 	<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">

			      <a class="navbar-brand" href="/">Newsr</a>

			    </div>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="/organizations/"> News Organizations</a></li>
			      <li><a href="/articles/"> Articles</a></li>
			      <li><a href="/countries/"> Countries</a></li>
			      <li class="active"><a href="/about/"> About</a></li>
			    </ul>
			  </div>
			</nav>




	 	<!--Container -->
	 	<div class = "container">
	 		<h1 align = "center"> About Newsr</h1>

	 		<hr>
	 		<!--Team-->
	 		<div class="row team-bio match-my-cols">
	 			<!--Member # 1-->
	 			<div class= "col-sm-6 about-team-member">

	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/paola.jpg">
	 					<div class="caption">
		 					<h3>Name: Paola Jara </h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
			                <p class="header-centered">My name is Paola, I am a senior in computer sciene graduaing in May. I enjoy going to the gym, dancing and hanging out with friends.</p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">Front End of the project</p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: 24</b></p>
			                <p class="header-centered"><b># of issues: 9</b></p>
			                <p class="header-centered"><b># of unit tests: 0</b></p>


	 					</div>
	 				</div>
	 			</div>
	 			<!--Member # 2-->
	 			<div class= "col-sm-6 about-team-member">
	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/Nikita.jpg">
	 					<div class="caption">
		 					<h3>Name: Nikita Zamwar</h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
		 					<p class="header-centered">My name is Nikita Zamwar and I am currently a senior in ECE and CS. I like to spend my time drawing/painting, listening to music and hanging out with friends.</p>
			                <p class="header-centered"></p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">I am working on the frontend for this project.</p>
			                <p class="header-centered"></p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: 24</b></p>
			                <p class="header-centered"><b># of issues: 9</b></p>
			                <p class="header-centered"><b># of unit tests: 0</b></p>


	 					</div>
	 				</div>
	 			</div>

	 			<!--Member # 3-->
	 			<div class= "col-sm-6 about-team-member">
	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/jaime.jpg">
	 					<div class="caption">
		 					<h3>Name: Jaime Munoz</h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
			                <p class="header-centered">My name is Jaime and I am currently a junior in CS. I enjoy playing the guitar, learning French, and swimming.</p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">I worked on setting up the backend, retrieving the data, and aws.</p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: 24</b></p>
			                <p class="header-centered"><b># of issues: 9</b></p>
			                <p class="header-centered"><b># of unit tests: 0</b></p>


	 					</div>
	 				</div>
	 			</div>

	 			<!--Member # 4-->
	 			<div class= "col-sm-6 about-team-member">
	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/weston.jpg">
	 					<div class="caption">
		 					<h3>Name: Weston Selleck</h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
			                <p class="header-centered">I'm a senior CS major graduating at the end of this semester. I like following sports, tech news, playing Overwatch, and going for walks with my dog, Winnie.</p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">Database models and unit tests, Flask server</p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: 41</b></p>
			                <p class="header-centered"><b># of issues: 10</b></p>
			                <p class="header-centered"><b># of unit tests: 15</b></p>


	 					</div>
	 				</div>
	 			</div>

	 			<!--Member # 5-->
	 			<div class= "col-sm-6 about-team-member">
	 				<div class="thumbnail">
	 					<img class="img-circle" style="width: 200px; height: 200px;" src="../static/img/brian.jpg">
	 					<div class="caption">

		 					<h3>Name: Brian Pham</h3>
		 					<hr>
		 					<p class="header-centered"><b>Bio</b></p>
			                <p class="header-centered">My name is Brian and I am a junior CS and Mathematics major. My hobbies include playing ultimate frisbee, playing video games, and searching for the tasiest bowl of pho.  </p>
			                <p class="header-centered"><b>Major Responsibilities</b></p>
			                <p class="header-centered">Pulling and storing data through APIs, Flask server, </p>
			                <p class="header-centered"><b>Stats</b></p>
			                <p class="header-centered"><b># of commits: 39</b></p>
			                <p class="header-centered"><b># of issues: 9</b></p>
			                <p class="header-centered"><b># of unit tests: 0</b></p>


	 					</div>
	 				</div>
	 			</div>

	 		</div>
	 		<!--Team End -->








	 	</div>
		<div class="become">
			<div class="container">
				<div class="col-md-5 become-1">
					<h4> Newsr </h4>
					<hr>


				</div>
				<div class="col-md-7 become-2">
					<img src="../static/img/map.png" class="img-responsive" alt="">
				</div>

				<div class="row unit-tests-row">


         <div class="col-sm-12">
            <div class="text-center">
                <button class="btn btn-primary" id="unit-tests" data-toggle="modal" data-target="#unitTestModal" onclick="runTests();">Run Our Unit Tests</button>
                <div id="unitTestModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Welcome to our unit tests</p>
                                <p>Test results</p>
                                <div id='results'></div>
                            </div>

                            <script>
                            function runTests() {
                                var testEndpoint = "../tests";
                                $.getJSON(testEndpoint)
                                .done(function(data) {
                                    document.getElementById('results').innerHTML=data.test_results;
                                })};
                            </script>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="resetResults();">Close</button>

                                <script>
                                    function resetResults() {
                                        $('#results').empty();
                                    }
                                </script>

                            </div>
                        </div>
                    </div>
               </div>
           </div>
        </div>
				 </div>

			</div>

			<script>
			function myFunction() {
			     var popup = document.getElementById("myPopup");

    			popup.classList.toggle("show");
			}
			</script>
			<script src="/static/js/about.js"></script>
	 	</div>
	</div>



	</body>


	<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="tools col-md-3">
          	<h4 >Tools</h4>
	  			  <div class="row">

	              <h1>Flask</h1>
	              <h1>Bootstrap</h1>
	        	    <h1>Github</h1>
	        	    <h1>AngularJS</h1>
	          	  </div>
	          </div>
		<div class="tools col-md-3">
             <h4>Team Stats</h4>
          		<div class="row">
	            <h1>Aggregate Commits: 153</h1>
	            <h1>Aggregate Issues: 46</h1>
	            <h1>Aggregate Unit Tests: 10</h1>
        		</div>
        	</div>
		<div class="tools col-md-3">
          	<h4>Links</h4>
  			  <div class="row">
  			  	<h1><a href="http://docs.newsr1.apiary.io/#">Apiary API</a></h1>
              	<h1><a href="https://github.com/brianqvpham/cs373-idb">GitHub Repo</a></h1>
            	<h1><a href="https://github.com/brianqvpham/cs373-idb/wiki" >GitHub Wiki</a></h1>
            	<h1><a href = "https://github.com/brianqvpham/cs373-idb/issues">GitHib Issue Tracker</a></h1>
          	  </div>
        	</div>
		<!--Data Start-->
        	<div class="tools col-md-3">
          	<h4>Data</h4>
  			  <div class="row">
						<h4><a href=https://restcountries.eu/#api-endpoints-all> News</a></h4>
        		<p class="header-centered">Data for the first phase of the project was scraped by the REST API and inserting data through our Newsr API.</p>

        	</div>

	</div>
</div>
<!-- footer -->






	 	</div>
	 	    <!-- footer-bottom -->
		<div class="footer-bottom">
			<div class="container">
				<p>Copyrights © 2017 Newsr</a></p>


			</div>
		</div>

 </html>
