{% extends "layout.html" %}
{% block title %} About {% endblock %}
{% block body %}
 <div ng-app="About">
 	
 	<!--Container -->
 	<div class = "container">
 		<h1 class = "header-centered"> About Team News</h1>

 		<hr>
 		<!--Team-->
 		<div class="row team-bio">

 			<!--Member # 1-->
 			<div class= "col-sm-6 col-md-4">
 				<div class="thumbnail">
 					<div class="caption">
	 					<h3>Name: </h3>
	 					<hr>
	 					<p><span>Bio:</span></p>
	 					<p><span>Responsibilities:</span></p>
	 					<p><span>Stats:</span></p>


 					</div>
 				</div>
 			</div>

 			<!--Member # 2-->
 			<div class= "col-sm-6 col-md-4">
 				<div class="thumbnail">
 					<div class="caption">
	 					<h3>Name: </h3>
	 					<hr>
	 					<p><span>Bio:</span></p>
	 					<p><span>Responsibilities:</span></p>
	 					<p><span>Stats:</span></p>


 					</div>
 				</div>
 			</div>

 			<!--Member # 3-->
 			<div class= "col-sm-6 col-md-4">
 				<div class="thumbnail">
 					<div class="caption">
	 					<h3>Name: </h3>
	 					<hr>
	 					<p><span>Bio:</span></p>
	 					<p><span>Responsibilities:</span></p>
	 					<p><span>Stats:</span></p>


 					</div>
 				</div>
 			</div>

 			<!--Member # 4-->
 			<div class= "col-sm-6 col-md-4">
 				<div class="thumbnail">
 					<div class="caption">
	 					<h3>Name: </h3>
	 					<hr>
	 					<p><span>Bio:</span></p>
	 					<p><span>Responsibilities:</span></p>
	 					<p><span>Stats:</span></p>


 					</div>
 				</div>
 			</div>

 			<!--Member # 5-->
 			<div class= "col-sm-6 col-md-4">
 				<div class="thumbnail">
 					<div class="caption">
	 					<h3>Name: </h3>
	 					<hr>
	 					<p><span>Bio:</span></p>
	 					<p><span>Responsibilities:</span></p>
	 					<p><span>Stats:</span></p>


 					</div>
 				</div>
 			</div>

 		</div>
 		<!--Team End -->

 		<div class="tools">
      		<h1>Tools</h1>
      	</div>


 	</div>


 </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/static/js/about.js"></script>
{% endblock %}