<!doctype html>
<html lang="en">
  <head>
    <!-- Declare charset and meta ASAP -->
    <meta charset="utf-8">
    <meta name="description" content="A  News Website">
    <title>Articles</title>

    <!-- Load  CSS  -->
    <!-- <link href="/static/articles.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body background="../static/img/oldpaper.jpg">
  <script type="text/javascript" src="articles.js"></script>

  	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Newsr</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/organizations/"> News Organizations</a></li>
	      <li class="active"><a href="/articles/"> Articles</a></li>
	      <li><a href="/countries/"> Countries</a></li>
	      <li><a href="/about/"> About</a></li>
	    </ul>
	  </div>
	</nav>

  	<h1 align="center">Articles</h1>

  	<table class="table table-hover">
	    <thead>
	      <tr>
		    <th>Title</th>
		    <th>Description</th>
		    <th>Author</th>
		    <th>Published Date</th>
		  </tr>
	    </thead>
	    <tbody>
	      {% for item in articles %}
	      	<tr>
                <td><a href="/articles/{{item.id}}">{{item.title}}</a></td>
	      		<td>{{item.description}}</td>
	      		<td>{{item.author}}</td>
	      		<td>{{item.publishDate}}</td>
	      	</tr>
	      {% endfor %}
	    </tbody>
	  </table>

  </body>
</html>
