{% extends "model_list.html" %}

{% set header = 'Articles' %}
{% set tableHeaders = ['Title', 'Description', 'Author', 'Published Date'] %}

{% block nav %}
  <li><a href="/organizations/"> News Organizations</a></li>
  <li class="active"><a href="/articles/"> Articles</a></li>
  <li><a href="/countries/"> Countries</a></li>
  <li><a href="/about/"> About</a></li>
{% endblock %}

{% block tbody %}
  {% for item in items %}
    <tr>
        <td><a href="/articles/{{item.id}}">{{item.title}}</a></td>
        <td>{{item.description}}</td>
        <td>{{item.author}}</td>
        <td>{{item.publishedAt}}</td>
    </tr>
  {% endfor %}
{% endblock %}
