{% extends "model.html" %}

{% set header = 'Article' %}
{% block tbody %}
    <tr>
        <td>Title</td>
        <td>{{item.title}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{item.description}}</td>
    </tr>
    <tr>
        <td>Author</td>
        <td>{{item.author}}</td>
    </tr>
    <tr>
        <td>URL</td>
        <td><a href="{{item.url}}">{{item.url}}</a></td>
    </tr>
    <tr>
        <td>Publish Date</td>
        <td>{{item.publishDate}}</td>
    </tr>
    <tr>
        <td>Countries</td>
        <td>
            {% for c in item.countries %}
                <a href="/countries/{{c.id}}">
                    {{c.name}}
                    <br>
                </a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Organization</td>
        <td>
            <a href="/organizations/{{item.organization.id}}">{{item.organization.name}}</a>
        </td>
    </tr>
{% endblock %}
