{% extends "model.html" %}

{% set header = 'Country' %}
{% block tbody %}
    <tr>
        <td>Name</td>
        <td>{{item.name}}</td>
    </tr>
    <tr>
        <td>Capital</td>
        <td>{{item.capital}}</td>
    </tr>
        <td>Region</td>
        <td>{{item.region}}</td>
    <tr>
        <td>Population</td>
        <td>{{item.population}}</td>
    </tr>
    <tr>
        <td>Articles</td>
        <td>
            {% for a in item.articles %}
                <a href="/articles/{{a.id}}">
                    {{a.title}}
                    <br>
                </a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Sources</td>
        <td>
            {% for o in item.organizations %}
                <a href="/organizations/{{o.id}}">
                    {{o.name}}
                    <br>
                </a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Flag</td>
        <td><img src="{{item.flagUrl}}"/></td>
    </tr>
{% endblock %}
