{% extends "model_list.html" %}

{% set header = 'Countries' %}
{% set tableHeaders = ['Name', 'Capital', 'Region', 'Population', 'Flag'] %}

{% block nav %}
  <li><a href="/organizations/"> News Organizations</a></li>
  <li><a href="/articles/"> Articles</a></li>
  <li class="active"><a href="/countries/"> Countries</a></li>
  <li><a href="/about/"> About</a></li>
{% endblock %}

{% block tbody %}
    {% for item in items %}
        <tr>
            <td><a href="/countries/{{item.id}}">{{item.name}}</a></td>
            <td>{{item.capital}}</td>
            <td>{{item.region}}</td>
            <td>{{item.population}}</td>
            <td><center><img height="50" src="{{item.flag}}"></center></td>
        </tr>
    {% endfor %}
{% endblock %}

