<!doctype html>
<html lang="en">
    <head>
      <!-- Declare charset and meta ASAP -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="description" content="A  News Website">
        <title>Home</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../static/style.css" rel="stylesheet">
        <script src="../static/js/bootstrap.min.js"></script>


    </head>

  	<body>
    	    <nav class="navbar navbar-inverse">
    	      <div class="container-fluid">
    	        <div class="navbar-header">
    	          <a class="navbar-brand" href="/">Newsr</a>
    	        </div>
    	        <ul class="nav navbar-nav navbar-right">
    	          <li><a href="/organizations/"> News Organizations</a></li>
    	          <li><a href="/articles/"> Articles</a></li>
    	          <li><a href="/countries/"> Countries</a></li>
    	          <li><a href="/about/"> About</a></li>
    	        </ul>
    	      </div>
    	    </nav>

          <div class="container">
                  <div class="row">
                          <form action="/">
                      <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" name="query" value="{{query}}" class="search-query form-control" placeholder="Search" />
                          <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit">
                              <span class=" glyphicon glyphicon-search"></span>
                            </button>
                          </span>
                          </div>
                        </div>
                          </form>
                  </div>
                </div>
              <br>

            {% if data.and %}
            {% if data.and.organizations %}
            <h2>Organizations</h2>
            <ul>
              AND results: <br>
              {% for org in data.and.organizations %}
              <li><a href="{{org.url}}" style="color:white">{{org.name}}</a></li> 
              {% endfor %} <br>
              {% if data.or.organizations %}
                Related Links(OR results): <br> <br>
                {% for org in data.or.organizations %}
                <li><a href="{{org.url}}" style="color:white">{{org.name}}</a></li> 
                {% endfor %}  
              {% endif %}
            </ul>
            {% endif %}

            {% if data.and.articles %}
            <h2>Articles</h2>
            <ul>
              AND results: <br>
              {% for art in data.and.articles %}
              <li><a href="{{art.url}}" style="color:white">{{art.title}}</a></li> 
              {% endfor %} <br>
              {% if data.or.articles %}
                Related Links(OR results): <br> <br>
                {% for art in data.or.articles %}
                <li><a href="{{art.url}}" style="color:white">{{art.title}}</a></li> 
                {% endfor %}  
              {% endif %}
            </ul>
            {% endif %}

            {% if data.and.countries %}
            <h2>Countries</h2>
            <ul>
              AND results: <br>
              {% for count in data.and.countries %}
              <li><a href="{{count.url}}" style="color:white">{{count.name}}</a></li> 
              {% endfor %} <br>
              {% if data.or.countries %}
                Related Links(OR results): <br> <br>
                {% for count in data.or.countries %}
                <li><a href="{{count.url}}" style="color:white">{{count.name}}</a></li> 
                {% endfor %} 
              {% endif %}
            </ul>
            {% endif %}

            {% if query and not data.or.organizations and not data.or.articles and not data.or.countries and not data.and.organizations and not data.and.articles and not data.and.countries%}
            <h3><em>No results were found</em></h3>
            {% endif %}
            {% endif %}
          <header>

              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>


                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="http://mondellopark.ie/wp-content/uploads/2016/10/news-banner.jpg" alt="...">
                    <div class="carousel-caption">

                    </div>
                  </div>
                  <div class="item">
                    <img src="https://static1.squarespace.com/static/51ddb6b0e4b01d6e75f7e5ae/t/529fb114e4b03ec9dbc4c484/1386197277232/NEWS+BANNER.png?format=1500w" alt="...">
                    <div class="carousel-caption">

                    </div>
                  </div>
                  <div class="item">
                    <img src="http://www.strath.ac.uk/media/1newwebsite/images-general/alumni/Latest_News_1600x600.jpg" alt="...">
                    <div class="carousel-caption">
                    	
                    </div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div> <!-- Carousel -->
          </header>


          <div class="container">

              <h1 class="my-4">Welcome to Newsr</h1>
              <hr>
          </div>
          <div class="container">

            <div class="row">
              <div class="col-md-4">
                <h2>News Organizations</h2>
                <p> </p>
                <p><a class="btn btn-default" href="/organizations/" role="button"> View more &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <h2>Articles</h2>
                <p> </p>
                <p><a class="btn btn-default" href="/articles/" role="button">View more &raquo;</a></p>
             </div>
              <div class="col-md-4">
                <h2>Countries</h2>
                <p></p>
                <p><a class="btn btn-default" href="/countries/" role="button">View details &raquo;</a></p>
              </div>
            </div>
          </div>



  </body>
  <div class="footer-bottom">
    <div class="container">
      <p>Copyrights © 2017 Newsr</a></p>

    </div>
  </div>

</html>
