{% extends "layout.html" %}
{% block content %}
  <div class="page-header header-centered">
    <h1>News<small></small></h1>
    <h1><small>Ready to be informed?</small></h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="header-centered">
          <h3>Articles</h3>
         
        </div>
      </div>
      <div class="col-sm-4">
        <div class="header-centered">
          <h3>Countries</h3>
          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="header-centered">
          <h3>Issues</h3>
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}