<!doctype html>
<html lang="en">
    <head>
      <!-- Declare charset and meta ASAP -->
      <meta charset="utf-8">
      <meta name="description" content="A  News Website">
      <title>Home</title>
      
      

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
    </head>
  
  <body background="../static/img/oldpaper.jpg">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="home.html">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"> News Organizations</a></li>
          <li class="active"><a href="articles.html"> Articles</a></li>
          <li><a href="countries.html"> Countries</a></li>
          <li><a href="about.html"> About</a></li>
        </ul>
      </div>
    </nav>
    <div class="page-header header-centered">
      
        <h1 align = "center">News<small></small></h1>
        <h1 style="color: solid brown; font-size:30px">Ready to be informed?</h1>
        <hr>
    </div>
  
    <div class="container">
      <div class="row match-my-cols">
        <div class="col-sm-4">

          <div class="panel panel-warning header-centered">
              <div class = "panel-heading">
                <h3 class = "panel-title">Articles</h3>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-warning header-centered">
              <div class = "panel-heading">
                <h3 class = "panel-title">Countries</h3>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-warning header-centered">
              <div class = "panel-heading">
                <h3 class = "panel-title">Issues</h3>
              </div>
          </div>
        </div>
      </div>

   </div>
  </body>
</html>
