<!doctype html>
<html lang="en">
  <head>
    <!-- Declare charset and meta ASAP -->
    <meta charset="utf-8">
    <meta name="description" content="A  News Website">
    <title>{% block title %}News{% endblock title %}</title>
    
    <!-- Load  CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="home.html">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"> News Organizations</a></li>
          <li><a href="articles.html"> Articles</a></li>
          <li class="active"><a href="countries.html"> Countries</a></li>
          <li><a href="about.html"> About</a></li>
        </ul>
      </div>
  </nav>

    {% block content %}{% endblock %}

    {% block scripts %}
    
    {% endblock scripts %}
    
    
  </body>
</html>