{% extends "layout.html" %}
{% block content %}
<h1 align="center">{{ header }}</h1>

<div class="col-sm-6">
    <div class="dataTables_length" id="example_length">
      <label>
        <select name="example_length" aria-controls="example" class="form-control input-sm">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </label>
    </div>
</div>

<table class="table table-hover"  data-toggle="table" data-sort-name="name" data-sort-order="asc">
    <thead>
      <tr>
        {% for tableH in tableHeaders %}
            <th data-field="{{tableH}}" data-sortable="true">
                {{tableH}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% block tbody %}
      {% endblock %}
    </tbody>

</table>
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href={{prev_url}}>Previous</a></li>
    <li class="page-item"><a class="page-link" href={{one_url}}>1</a></li>
    <li class="page-item"><a class="page-link" href={{next_url}}>Next</a></li>
  </ul>
</nav>
 -->

 <div class="col-sm-7">
  <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
    <ul class="pagination">
      <li class="paginate_button previous disabled" id="example_previous">
        <a href={{prev_url}} aria-controls="example" data-dt-idx="0" tabindex="0">Previous</a>
      </li>
      {% for page in page_links%}
          <li class="paginate_button {{page.className}}">
              <a href="{{page.link}}" aria-controls="example" data-dt-idx="{{page.num}}" tabindex="0">{{page.num}}</a>
          </li>
      {% endfor %}

      <li class="paginate_button next" id="example_next">
        <a href={{next_url}} aria-controls="example" data-dt-idx="7" tabindex="0">Next</a>
      </li>

    </ul>
  </div>
</div>

{% endblock %}
