{% extends "model_list.html" %}

{% set header = 'Organizations' %}
{% set tableHeaders = ['Name', 'Description', 'URL', 'Logo'] %}

{% block nav %}
  <li><a href="/organizations/"> News Organizations</a></li>
  <li class="active"><a href="/articles/"> Articles</a></li>
  <li><a href="/countries/"> Countries</a></li>
  <li><a href="/about/"> About</a></li>
{% endblock %}

{% block tbody %}
  {% for item in items %}
    <tr>
        <td><a href="/organizations/{{item.id}}">{{item.name}}</td>
        <td>{{item.description}}</td>
        <td><a href="{{item.url}}">{{item.url}}</td>
        <td><center><img height="50" src="{{item.logoUrl}}"></center></td>
    </tr>
  {% endfor %}
{% endblock %}
