{% extends "model.html" %}

{% set header = 'Organization' %}

{% block nav %}
  <li><a href="/organizations/"> News Organizations</a></li>
  <li><a href="/articles/"> Articles</a></li>
  <li><a href="/countries/"> Countries</a></li>
  <li><a href="/about/"> About</a></li>
{% endblock %}

{% block tbody %}
    <tr>
        <td>Name</td>
        <td>{{item.name}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{item.description}}</td>
    </tr>
        <td>URL</td>
        <td><a href={{item.url}}>{{item.url}}</a></td>
    <tr>
        <td>Articles</td>
        <td>
            {% for a in item.articles %}
                <a href="/articles/{{a.id}}">
                    {{a.title}}
                    <br>
                </a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Country</td>
        <td>
            <a href="/countries/{{item.country.id}}"> {{item.country.name}} </a>
        </td>
    </tr>
    <tr>
        <td>Logo</td>
        <td><img src="{{item.logoUrl}}" /></td>
    </tr>
{% endblock %}
