<!doctype html>
<html lang="en">
	  <head>
	    <!-- Declare charset and meta ASAP -->
	    <meta charset="utf-8">
			<meta name"viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="A  News Website">
	    <title>Wishlist</title>


			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<link href="../static/style.css" rel="stylesheet">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

			<script>
		$(function() {
		
			
			$("#data").change(function() {
			
				var $dropdown = $(this);
			
				$.getJSON("jsondata/data.json", function(data) {
				
					var key = $dropdown.val();
					var vals = [];
										
					switch(key) {
						case 'themes':
							vals = data.beverages.split(",");
							break;
						case 'scores':
							vals = data.snacks.split(",");
							break;
						case 'ratings':
							vals = ['Please choose from above'];
					}
					
					var $jsontwo = $("#json-two");
					$jsontwo.empty();
					$.each(vals, function(index, value) {
						$jsontwo.append("<option>" + value + "</option>");
					});
			
				});
			});
		});
	</script>




	  </head>

  	<body>
		 	<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">

			      <a class="navbar-brand" href="/">Newsr</a>

			    </div>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="/organizations/"> News Organizations</a></li>
			      <li><a href="/articles/"> Articles</a></li>
			      <li><a href="/countries/"> Countries</a></li>
			      <li class="active"><a href="/about/"> About</a></li>
			    </ul>
			  </div>
			</nav>

			
	</body>

			
			<div class="wishlist-background">
          
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="header-text">
                                    <p>Games Wishlist</p>
                                    <h2><span class="typing"></span></h2>
                                    <div class="btn-group">
									  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
									    Theme
									  </button>
									  <div class="dropdown-menu">
									  	
                                        {% for theme in themes %}
                                           <div>
                                            	{{theme}}
                                           </div>
									    {% endfor %}
										
                                      </div>
									</div>
									<div class="btn-group">
									  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    Ratings
									  </button>
									  
									  <select class="dropdown-menu">
                                        {% for rating in ratings %}
                                            <option>{{rating}}</option>
                                        {% endfor %}
									  </select>
									</div>
                                    
                                
                                </div>
                            </div>
                        </div>
                    </div>
              
        </div>
         <div class="container">

              <h1>Wishlist</h1>
              <hr>
          </div>
          <div class="container">

            
          </div>

			

			




	 	
<!-- footer -->






	 	</div>
	 	    <!-- footer-bottom -->
		<div class="footer-bottom">
			<div class="container">
				<p>Copyrights © 2017 Newsr</a></p>


			</div>
		</div>

</html>